@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: minimal sensible defaults */
html,
body {
  height: 100%;
}

/* If you want smooth fonts */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
